.App {
  margin: 0;
  display: grid;
  grid-template-rows: 12vh auto;
}

.head {
  margin: 0;
  border-bottom: 2px solid black;
  background-color: rgba(109, 126, 126, 0.65);
}
.top {
  font-size: 18px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  margin-top: 0px;
  margin-left: 5px;
  color: white;
  font-weight: 700;
}
p {
  margin-right: 25px;
}
.buttons {
  height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin-left: 20px;
  padding: 25px;
  background-color: transparent;
  border: none;
  color: rgb(243, 241, 241);
  cursor: pointer;
}
.buttons:hover {
  color: rgb(91, 146, 230);
}
.buttons:focus {
  outline: none;
}
.buttons:active {
  color: rgb(61, 128, 230);
}
.buttons:disabled {
  cursor: not-allowed;
  color: rgba(80, 77, 77, 0.787);
}
.resetbutton {
  height: 30px;
  border: 3px solid black;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  margin-left: 5px;
  margin-top: 15px;
  margin-right: 20px;
  background-color: transparent;
  color: rgb(243, 241, 241);
  cursor: pointer;
  box-shadow: 2px 4px 20px -5px rgba(0, 0, 0, 2);
}

.resetbutton:hover {
  color: rgb(61, 128, 230);
}
.resetbutton:focus {
  outline: none;
}

.container {
  display: grid;
  grid-template-rows: auto;
  place-items: center;
  background-color: #1e1e20;
}

.container_middle {
  display: grid;
  width: 1200px;
}
